body{

}

header{
    font-family: Verdana, Helvicia, sans-serif;
    font-weight: bold;
    color: darkorchid;
    font-size: 32px;
    font-variant: small-caps;
    letter-spacing: -2px;
    word-spacing: -2px;
    text-align: center;
    background-color: bisque;

    margin-bottom: 4%;
    margin-left: 12%;
    margin-right: 12%;

    border-radius: 15px;

}
.form{
    font-family: Garamond, sans-serif;
    font-size: x-large; /* 24 */
    color: rebeccapurple;
    margin-left: 12%;
    float: left;
    width: 40%;
}

.area{
    float: right;
    width: 26%;
    margin-right: 12%;
    padding-right: 10%;
}

.checkbox{
    text-align: right;
    padding-right: 71%;
}
span{
    margin-left: 1.2%;
}
#error{
    color: red;
    font-weight: bold;
}


input[type="button"]{
    width: 40px;
    height: 22px;
    border:solid 1px #004F72;
    outline: 0;
}






